.reviews {
  padding-top: 240px;
  padding-bottom: 130px;
  background-color: rgba($color-light, .2);
}

.reviews-inner {
  @include container;
}

.reviews-title {
  @include section-title;
}

.reviews-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-left: -$indent-gap-half;
  margin-right: -$indent-gap-half;
}

.reviews-item {
  flex-basis: 50%;
  margin-bottom: 70px;
  padding: 0 $indent-gap-half;
}

.review {
  display: flex;
  margin-left: -$indent-gap-half;
  margin-right: -$indent-gap-half;
  color: $color-dark;
}

.review-ava-wrap {
  flex-basis: 33.33%;
  padding: 0 $indent-gap-half;
}

.review-ava {
  width: 100%;
  border-radius: 50%;
}

.review-content {
  flex-basis: 66.66%;
  padding: 0 $indent-gap-half;
}

.review-name {
  font-family: $font-ral;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
}

.review-quote {
  margin: 20px 0 0;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
}

.reviews-btn {
  margin-top: 30px;
  text-align: center;
}
